# =========================
# Python / Environment
# =========================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
robot/

# =========================
# IDE / OS
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs / Temp
# =========================
*.log
*.tmp
*.swp

# =========================
# AI Models / Outputs
# =========================
runs/
*.pt
*.onnx
*.engine
*.tflite
*.ncnn
*.param
*.bin
yolo11n_ncnn_model/

# =========================
# Media / Recordings
# =========================
*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.png

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
